:root{
    --brand-color-dark-blue: "#222A35";
}

@property --current-selected {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}


body, h1, div, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh; 
    height: 100vh;
    align-items: stretch;
    /* overflow: none; */
}

.container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

#left-column {
    display: flex;
    overflow: none;
    flex-direction: column;
    flex: 1;
    /* max-height: 100vh; */
    background: black;
    color: bisque; 
    padding: 15px;
    position: sticky;
}

.my-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: bisque;
    font-size: x-large;
}

.profile-pic{
    border-radius: 50%;
    border: 4px solid  #fff;
    max-width: 100%;
    height: auto;
    display: block;margin: auto;

}

.pp-container{
    flex:1;
    margin:20px;
    align-self: center;
}

.navigation-container{
    display: flex;
    flex-direction: column;
    flex:5;
    
}

#right-column {
    display: flex;
    flex-direction: column;
    flex: 7;
    background: black; 
    max-width: 90vw;
    /* max-height: 100vh; 
    overflow: hidden; */
    z-index: 1;

}
.sectionlist-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: auto;
    align-items: start;
    justify-content: end;
}

.site-section{
    background: black;
    color: bisque;
    text-align: start;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    
}



.section-content{
    padding: 20px;
    position: relative;
    min-height: 100vh ;
    /* max-height: 100vh; */
    width: 100vw;
}

.social-links{
    display: inline ;
}

.fa {
    color:bisque;
    font-size: 10px;
    width: 10px;
    margin-right:10px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
opacity: 0.7;
}


.individual-project{
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 360px;
    min-height: 360px;
    margin: 2px;
    color:#fff
}
.individual-project:hover {
    opacity: 0.7;
    }
    

.vertical-flex{
    flex-direction: column !important;
}


.projects-screen{
    flex:1;
    height: 100vh;
    max-height: 100vh;
    max-width: 90vw;
    overflow: auto;
}

.project-header{
    height: 50vh;
    width: 100vh;
}
.project-footer{
    height:50vh;
    width:100vh;
}

#project-autumn{
    background-image: url('/img/autumn.gif');
}
#project-quadball{
    background-image: url('/img/quadball.gif');
}#project-mednlp{
    background-image: url('/img/mednlp.gif');
}#project-motheory{
    background-image: url('/img/motheory.gif');
}
.project-title{
    position: relative;
    bottom:0px;
    left:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 8em;
    letter-spacing: 20px;
}


#prj{
    display: block;
    height: 100vh;
    width: 90vw;
    max-width: 90vw;
    background-color: black;
    margin: 0rem;
}


#project-track > .project-img{
    width: 50vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 5%;
    opacity:0.2;
    z-index:10;
}

#project-track > .project-img.active{
    opacity:1;
    width: 60vw;
    height:70vh;

}


#project-track{
    display: flex;
    align-items: center;
    gap:4vmin;
    position:absolute;
    --current-selected:0;
    left: calc(25% - var(--current-selected)*50%);
    top:20%;
    height: 70vh;
    overflow : hidden !important;
    width: calc(75% + var(--current-selected)*50%);

    
}


 /*
    WISTERIA #c1ade0   
    CHAMPAGNE #ffe4c4 
    CELADON ADE0B8   
    VIRIDIAN 618B6A 
    VIRIDIAN x CELADON => 87BC91
    WISTERIA x CHAMPAGNE => d8c8d2  -> 
*/

button.c2a{
    flex:1;
    position: relative;

    color: #618B6A;
    bottom: 0%;
    background-color: #222d35;
    padding: 1em;
    border-radius: 7%;
    font-size: 1rem;
    height:10vh;
    width: 10vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    border-style:dashed;
    border-color:#618B6A ;
    align-self: center;
}

div.c2a > div{
    text-align: center;
    vertical-align: middle;
}

button.c2b{
    background-color: #c4dfff;

}

.info{
    position: relative;
    flex:5;
    height: 10vh;
}
.info-header{
    font-weight:bold;
    font-family: 'Segoe UI';
}
.info-info{
    font-family: 'Segoe UI';
    font-size: small;
    color:#d8c8d2;
    margin-top: 0.5em;
}

.contact{
    display: flex;
    flex: 1;
    opacity: 1;
}

.c2a:hover{
    opacity: 0.3;
}

#contact-container{
    display: flex;
    gap:1em;
    justify-content: space-between;
    flex-direction: column;
    
}

#contact-container > div{
    margin-left:1em;
    margin-top:1em;
    margin-right:1em;
    padding:2em;
    background-color: #080d0e;
    color:bisque;

}

.social-links{
    margin-top:1em
}




.animated-page{
    transition: all 0.5s ease-in-out, background-color 0s ;
    scroll-snap-align: start;
}

.animated-page.introduction.on-screen
{   opacity: 1;
    background-color: #080d0e !important;
    color: #d8c8d2

}

.animated-page.career.on-screen
{   opacity: 1;
    background-color: #ffe4c4 !important;
    color: #222d35;

}

.animated-page.other-work.on-screen
{   opacity: 1;
    background-color: #c1ade0 !important;
    color: #d8c8d2;

}

.animated-page.interests.on-screen
{   opacity: 1;
    background-color: #6F4E37 !important;
    color: #ffe4c4;

}

.animated-page.quadball.on-screen
{   opacity: 1;
    background-color:  #618B6A !important;
    color: #222d35;

}

#hats{
    display: flex;
    width: 60vw;
    grid-area: 5/2/5/9;
    z-index: 100;
    justify-content: space-between;
}

#stack{
    border-radius: 12px;
    border-style: dashed;
    border-color: #bf5700;
    border-width: 0.2em;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    grid-area: 4/2/4/8;
    justify-content: space-evenly;
    align-items: stretch;
    transform: translateY(-10%);
}
section{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    height:100vh;
    min-width: 90vw;
    color: #d8c8d2;

} 

#about_me_container{
    display: flex;
    flex-direction: column;
    overflow-y: auto !important;
    height:100vh;
    scroll-snap-type: y proximity;
}  


.introduction .page-header{
    grid-area: 1 / 1 / 3 / 5 ;
    color: #ffe4c4
}

.interests .page-header{
    grid-area: 1 / 1 / 2 / 4 ;
    color: #ffe4c4
}
.quadball .page-header{
    grid-area: 1 / 1 / 2 / 4 ;
    color: #ffe4c4
}


.introduction .main-picture{
    grid-area: 3 / 7 / 4 / 8;
    max-height: 60vh;
    border-radius: 15%;
    opacity:0.9;
    border-style: ridge;
    border-color: #618B6A;
}


.introduction .festival{
    grid-area: 2 / 7 / 4 / 8;
    transform: translateY(5%);
}



.introduction .main-picture:hover{

    opacity:1;

}

.animated-page.career{
    overflow:none !important
}

.career .page-header{
    grid-area: 1 / 1 / 2 / 4 ;
    color: #222d35
}

.career .main-picture{
    grid-area: 2 / 6 / 5 / 7;
    max-height: 60vh;
    border-radius: 15%;
    opacity:0.9;
    border-style: ridge;
    border-color: #618B6A;
    transform: translate(-10%,5%);

}

section > *{
    padding: 0.5em;
}

#about-block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    grid-area: 3 / 3 / 5 / 5;
    transform: translate(0%,0%);
    height: 80vh;
    min-height: 80vh;
    width: 50vh;
}

.about-info-block{
    font-size: 1.2em;
}

#currently{
    grid-area: 2/ 3 / 5 / 5;
    border-color: #618B6A;
    border-style: dashed;
    border-width: 0.5em;
}

#technologies{
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: 1/8/6/9;
    min-height: 100vh;
    min-width:10vw;
    transform:translate(-5%,0%);
    font-weight: bolder;
}

.tech-icon{
    max-width: 40px;
    max-height: 40px;
}


.timeline-content{
    opacity:1 ! important;
    transition: all 0.2s ease-in-out;
    user-select:auto !important;
}

section.animated-page > h1{
    grid-area: 1/2/1/4;
    justify-self: start;
    translate: 0% -10%;
}

#summary{
    grid-area: 2/2/3/8;
    font-size: larger;
    translate: 0% -35%;
}
#education{
    grid-area: 2/ 2 / 3 / 6;
    border-color: #bf5700;
    border-style: dashed;
    border-width: 0.5em;
}

#interest-box{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    grid-area: 3/5/3/5;
    width: 90vw;
    height: 60vh;

}

.brad-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
    width: 15vw;
    border:#618B6A;
    border-style: dotted;
    border-width: 0.5em;
    border-radius:10%;
}

.education.main-picture{
    grid-area: 3/7/5/9;
    border-color: #bf5700;
    opacity: 0;
}

#previously{
    grid-area: 4/ 5 / 7 / 8;
    border-color: #618B6A;
    border-style: dashed;
    border-width: 0.5em;
}

#other{
    grid-area: 2/ 2 / 5 / 4;
}
.other{
    border-color: #618B6A;
    border-style: dashed;
    border-width: 0.3em;
}

#lead-instructor{
    grid-area: 2/1/3/5;

}
#lead-instructor > *{
    padding-left: 0.5em;
    padding-right: 0.5em;

}

#gameplay-director{
    grid-area: 4/5/5/8 ;
}

.tech-icon.selected {
    filter: invert(38%) sepia(22%) saturate(3213%) hue-rotate(360deg) brightness(95%) contrast(105%); /* black -> #bf5700*/
}

.resume-section{
    grid-area: 1/2/5/8;
    height: 100%;
    width: 100%;
    place-self: start;

    translate: 5% 10%;
    user-select: none;
    color: #ffe4c4;
    z-index: -1;
}

.resume-section.disp{
    color: #080d0e;
    z-index: 1;
    user-select: auto;
    transition: all 0.5s ease-in-out;
}

.resume-section.disp > * {
    padding: 10px;
    margin-right: 150px;
}
.resume-section.disp > div > ul > *  {
    padding-top: 10px;
    padding-bottom: 10px;
}

#soundtrack{
    grid-area: 5/5/5/10;
}

#resume-summary > *{
    margin-bottom: 2em;
}

#previously > ul >*{
    margin-bottom: -0.1em !important;
    padding: 0em !important;
}

.scroll-navigator {
    background:rgba(191, 87, 0,0.3 );
    position: fixed;
    right: 5vw; 
    bottom: 10vh;
    width:5px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }

#scroll-navigator > .nav-circle{
    width: 10px;
    height: 10px;
    margin-bottom: 10vh;
    background-color: #fff;
    opacity: 0.9 !important;
    border-radius: 50%;
    margin-bottom: 20px; /* Adjust the spacing between circles as needed */
    cursor: pointer;
}

#scroll-navigator.hidden{
    width:0px;
    height:0px;
    opacity:0;
    z-index: -1;
}