:root{
    --brand-color-dark-blue: #222A35;
    --brand-color-champagne: #ffe4c4;
    --brand-color-wistagne: #d8c8d2;
    --brand-color-viridian: #618B6A;
}

body, h1, div, h2, p {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    display: grid;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    height:100vh;
    min-width: 90vw;
} 
section > *{
    padding: 0.5em;
}

/* TOP LEVEL*/
.container {
    display: flex;
    min-height: 100vh; 
    height: 100vh;
    align-items: stretch;
}

.container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}


/* TWO-COLUMNS*/ 
#left-column {
    /*COLOR-PAIR -> BLACK, CHAMPAGNE*/
    display: flex;
    overflow: none;
    flex-direction: column;
    flex: 1;
    /* max-height: 100vh; */
    background: black;
    color: var(--brand-color-champagne);
    padding: 15px;
    position: sticky;
}

#right-column {
    display: flex;
    flex-direction: column;
    flex: 7;
    background: black; 
    max-width: 90vw;
    z-index: 1;
    overflow-y: hidden;
    overflow-x:hidden;
}

/* LEFT COLUMN*/ 
.my-name{
    font-size: 1.5rem;
}

.pp-container{
    flex:1;
    margin:10px;
    align-self: center;
}
.profile-pic{
    border-radius: 50%;
    border: 4px solid  #fff;
    max-width: 8vw;
    height: auto;
    display: block;
    /* margin: auto; */

}

.navigation-container{
    display: flex;
    flex-direction: column;
    flex:5;
    
}

.sectionlist-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: auto;
    align-items: start;
    justify-content: end;
}

.site-section{
    /* COLOR-PAIR -> BLACK, CHAMPAGNE*/
    background: black;
    color: var(--brand-color-champagne);
    text-align: start;
    border: none;
    font-weight: bold;
    
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    
}

.social-links{
    display: inline ;
    margin-top: 1em;
}

.fa {
    color:var(--brand-color-champagne);
    width: 10px;
    margin-right:10px;
    text-align: center;
    text-decoration: none;
}

/*RIGHT COLUMN*/

.section-content{
    padding: 20px;
    position: relative;
    min-height: 100vh ;
    width: 100vw;
}


.scroll-navigator {
    background:rgba(191, 87, 0,0.3 );
    position: fixed;
    right: 5vw; 
    bottom: 10vh;
    width:5px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }

#scroll-navigator > .nav-circle{
    width: 10px;
    height: 10px;
    margin-bottom: 10vh;
    background-color: #fff;
    opacity: 0.9 !important;
    border-radius: 50%;
    margin-bottom: 1.5rem; /* Adjust the spacing between circles as needed */
    cursor: pointer;
}

#scroll-navigator.hidden{
    width:0px;
    height:0px;
    opacity:0;
    z-index: -1;
}

.nav-circle.nav-selected{
    background-color: var(--brand-color-dark-blue) !important;
}

/* USED MULTIPLE*/

.info{
    /* USED MULTIPLE*/ 
    position: relative;
    flex:5;
    height: 10vh;
}